.services {
  display: flex;
  justify-content: center;
  margin: var(--margin-standard);
  margin-left: 15rem;
  padding-bottom: 10rem;
}

.services__wrap {
  display: flex;
}

.services__wrap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.services__wrap__title {
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.services__wrap__title h2 {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0;
}

.services__wrap__cards {
  display: flex;
  gap: 20px;
  width: 100%;
  width: 1200px;
}

.service-card {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.card-number {
  color: var(--green);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin: 90px 0 10px 0;
  color: var(--white);
}

.service-card p {
  flex: 1;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: var(--white);
  width: 70%;
}

.horizontal-line {
  width: 50%;
  height: 1px;
  background-color: var(--white);
}

@media (max-width: 1600px) {
  .services {
    margin-top: 0rem;
    width: 80%;
    margin-bottom: 0rem;
  }

  .services__wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 80%;
  }

  .service-card {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .services {
    width: 90%;
    margin-left: 2.2rem;
  }
  .services__wrap__cards {
    display: flex;
    gap: 0px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .services {
    width: 80%;
  }
  .services__wrap__cards {
    display: flex;
    gap: 0px;
  }

  .view-work-button {
    display: none;
  }
}

@media (max-width: 700px) {
  .services__wrap__cards {
    flex-direction: column;
  }
}
