.hero {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin: var(--margin-standard);
  margin-left: 2rem;
  z-index: 1;
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  margin-top: var(--padding-xlarge);
}

.hero__wrap__intro {
  color: var(--green);
  font-size: 1.1rem;
}

.hero__wrap__name {
  color: var(--white);
  margin-bottom: -1rem;
}

.hero__wrap__info {
  color: var(--slate);
}

.hero__wrap__about {
  margin-top: 0.9rem;
  max-width: 700px;
  font-size: 1.3rem;
  color: var(--white);
}

.hero__wrap__button {
  margin-top: 3rem;
}

@media only screen and (min-width: 1600px) {
  .hero {
    margin-top: 2rem;
    margin-left: -4rem;
  }
}

@media only screen and (max-width: 1600px) {
  .hero {
    margin-top: 0rem;
  }
}

@media (max-width: 1000px) {
  .hero {
    margin-right: 0rem;
    margin-left: 5rem;
    width: 90%;
    height: 100vh;
  }

  .hero__wrap__info {
    line-height: normal;
    /* width: 400px; */
  }

  .hero__wrap__about {
    margin-top: 0.9rem;
    max-width: 80%;
    font-size: 1.3rem;
    color: var(--white);
  }
}

@media (max-width: 630px) {
  .hero__wrap__about {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .hero {
    margin-left: 1.3rem;
  }
}
