.navbar {
  color: var(--white);
  padding: 3rem 7rem;
  align-items: center;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 75px;
  position: fixed;
  z-index: 100;
}

.navbar__wrap__left {
  cursor: pointer;
  margin-left: 2rem;
}

.navbar__wrap__right {
  display: flex;
  cursor: pointer;
}

.navbar__wrap__right ul {
  display: flex;
  list-style: none; /* Remove default list styling */
  gap: 20px;
}

.navbar__wrap__right ul li {
  margin-right: 20px; /* Adjust the margin value to your preference */
}
